:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --background-color-one: #ffffff;
    --text-color: #313243;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Baloo Da 2', cursive;
    box-sizing: border-box;
}

.grid {
    width: 1328px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-with {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}


